{% extends 'catalog/base.html' %}

{% block content %}
    <a type="button" href="{% url 'blog:create_blog' %}" class="btn btn-outline-primary">Создать новую запись</a>
    <div class="row text-left">
        <ul class="list-group">
            {% for object in object_list %}
                {% if object.is_published %}
                    <li class="list-group-item">{{ object }} Просмотры: {{ object.views_counter }}</li>
                    <div class="btn-group" role="group">
                        <a href="{% url 'blog:detail_blog' object.slug %}" class="btn btn-outline-secondary">Посмотреть</a>
                        <a href="{% url 'blog:edit_blog' object.slug %}" class="btn btn-outline-secondary">Редактировать</a>
                        <a href="{% url 'blog:delete_blog' object.slug %}" class="btn btn-outline-danger">Удалить</a>
                    </div>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
{% endblock %}