{% extends 'catalog/base.html' %}

{% load my_tags %}
{% block content %}
<div class="container">
    <div class="row text-start">
        <div class="col-lg-5 col-md-6 col-sm-12">
            <img src="{{ object.image|mymedia }}" class="img-thumbnail" alt="...">
        </div>
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h3 class="card-title">{{ object }}</h3>
                <h6 class="card-subtitle mb-2 text-body-secondary">{{ object.category }}</h6>
                <h4 class="card-subtitle mb-2 text-body-secondary">{{ object.purchase_price }} ₽</h4>
                <p class="card-text">{{ object.description }}</p>
                <p class="card-text-shadow">{{ object.creation_data }}</p>
                <p class="card-text-shadow">{{ object.last_modified }}</p>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">Свяжитесь с нами</h4>
                </div>
                <div class="card-body">
                    <form method="post" action="" class="form-floating">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="name">Имя</label>
                            <input type="text" name="name" class="form-control" id="name" placeholder="Ваше имя"
                                   required>
                        </div>
                        <div class="mb-3">
                            <label for="phone">Телефон</label>
                            <input type="text" name="phone" class="form-control" id="phone"
                                   placeholder="Контактный телефон" required>
                        </div>
                        <div class="mb-3">
                            <label for="message">Сообщение</label>
                            <textarea type="text" name="message" class="form-control" id="message"
                                      placeholder="Ваше сообщение" required></textarea>
                        </div>
                    </form>

                    <button type="submit" class="btn btn-lg btn-block btn-outline-primary">Отправить</button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}