{% extends 'catalog/base.html' %}

{% block content %}
    <div class="col-12">
        <form method="post">
            <div class="col-6">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Товар</h3>
                    </div>
                    <div class="card-body">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-success">
                            {% if object %}
                                Сохранить
                            {% else %}
                                Создать
                            {% endif %}
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Версии</h3>
                    </div>
                    <div class="card-body">
                        {{ formset.management_form }}
                        {% for form in formset.forms %}
                            {{ form.as_p }}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}